// Third-Party Imports
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

// Sticky Setup Imports
@import "variables";
@import "placeholders";

// Sticky Styles
.sticky-queue {
	z-index: $z-index;
	position:fixed;
	background:$pri-color;
	border: 1px solid $border-color;
	width:$sticky-width;
	overflow: hidden;
	@include box-shadow(0 0 5px darken($sec-color, 13));
}

.sticky-note { padding-right:$sticky-note-padding; margin: 0;}

.sticky {
	font-size:$base-font-size;
	color:darken($sec-color, 40);
	display:none;
	padding:$sticky-padding;
	position:relative;
}

.sticky-close {
	position:absolute;
	top:$sticky-padding;
	right:$sticky-padding;
	height:14px;
	width:14px;
	cursor:pointer;

	&:before {
		content: "\2716";
	}
}
	
.top-right {
	@extend %top-sticky;
	@extend %right-sticky;
}

.top-center {
	@extend %top-sticky;
	@extend %center-sticky;
}

.top-left {
	@extend %top-sticky;
	@extend %left-sticky;
}

.bottom-right {
	@extend %bottom-sticky;
	@extend %right-sticky;
}

.bottom-center { 
	@extend %bottom-sticky;
	@extend %center-sticky;
}

.bottom-left {
	@extend %bottom-sticky;
	@extend %left-sticky;
}

.border-top-right, .border-top-center, .border-top-left { border-top:1px solid $border-color; }
.border-bottom-right, .border-bottom-center, .border-bottom-left { border-bottom:1px solid $border-color; }

// Sticky State Import
@import "states"; // Down here so states override default sticky styles